@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#3498db;
   --dark-blue:#2980b9;
   --red:#e74c3c;
   --dark-red:#c0392b;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

.btn,
.delete-btn{
   width: 330px;
   border-radius: 30px;
   background: transparent;
   padding:10px 30px;
   color:var(--white);
   display: block;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   margin-left: 15px;
}

.btn{
   width: 330px;
    background: transparent;
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    font-size: 18px;
    background-color: white;
    margin-left: 15px;
   border: 1px solid gray;
   height: 44px;

}

.btn:hover{
   background-color: grey;
}

.delete-btn{
   background-color: grey;
}

.delete-btn:hover{
   background-color: darkgrey;
}

.message{
   margin:10px 0;
   width: 100%;
   border-radius: 20px;
   padding:10px;
   text-align: center;
   background-color: lightgrey;
   color:var(--white);
   font-size: 20px;
}

.form-container{
   min-height: 100vh;
   background-color: #ddd;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}


.form-container form{
   padding:20px;
   background-color:  white;
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 400px;
   border-radius: 20px;
   height: 530px;
}

.form-container form h3{
   margin-bottom: 9px;
   font-size: 27px;
   color:var(--black);
   text-transform: uppercase;
}

.form-container form .box{
   width: 70%;
   border-radius: 100px;
   padding:12px 14px;
   font-size: 16px;
   color:var(--black);
   margin:10px 0;
   background-color:white;
   height: 44px;
   border: 1px solid gray;
}

.form-container form p{
   margin-top: 15px;
   font-size: 18px;
   color:var(--black);
}

.form-container form p a{
   color:var(--red);
}

.form-container form p a:hover{
   text-decoration: none;
}

.container{
   margin-top: 8%;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.container .profile{
   padding:20px;
   background-color: white;
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 400px;
   border-radius: 5px;
}

.container .profile img{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.container .profile h3{
   margin:5px 0;
   font-size: 20px;
   color:var(--black);
}

.container .profile p{
   margin-top: 20px;
   color:var(--black);
   font-size: 18px;
}

.container .profile p a{
   color:var(--red);
}

.container .profile p a:hover{
   text-decoration: none;
}

.update-profile{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.update-profile form{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 700px;
   text-align: center;
   border-radius: 5px;
}

.update-profile form img{
   height: 200px;
   width: 200p;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.update-profile form .flex{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   gap:15px;
}

.update-profile form .flex .inputBox{
   width: 43%;
}

.update-profile form .flex .inputBox span{
   text-align: left;
   display: block;
   margin-top: 15px;
   font-size: 17px;
   color:var(--black);
}

.update-profile form .flex .inputBox .box{
   width: 90%;
   border-radius: 20px;
   background-color: var(--light-bg);
   padding:12px 14px;
   font-size: 17px;
   color:var(--black);
   margin-top: 10px;
}

@media (max-width:650px){
   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }
   .update-profile form .flex .inputBox{
      width: 100%;
   }
}